# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environnement virtuel (si tu en utilises un)
venv/
.venv/
env/

# Fichiers de configuration sensibles
.env

# Ignorer les données brutes
ml_core/datasets/

# Modèles lourds (Optionnel : si tes fichiers .pkl font plus de 50 Mo, il vaut mieux éviter de les pousser sur GitHub)
# ml_core/artifacts/*.pkl